{% extends 'catalogue.html.twig' %}

{% block title %}Véhicules{% endblock %}

{% block path %}{{ path('app_vehicule_catalogue') }}{% endblock %}

{% block div %}
                {% if vehicules is not empty %}
                    {% for vehicule in vehicules %}
                        <div class="catalogue_card">

                            <div class="catalogue_info">
                                <h2>{{ vehicule.libelle }}</h2>
                                <p> Centre : {{ vehicule.centre.libelle }}</p>
                                <p> Marque : {{ vehicule.marque.libelle }}</p>
                                <p> Plaque : {{ vehicule.plaque }}</p>

                                {% if is_granted('ROLE_VEHICULES') %}
                                <a href="{{ path('app_vehicule_details', {'id': vehicule.id}) }}">
                                    <button>Réserver un créneau</button>
                                </a>
                                {% endif %}
                            </div>

                            <div id="vehicules_{{ vehicule.id }}" class="catalogue_calendrier">
                            </div>

                        </div>
                    {% endfor %}
                {% else %}
                    <div class="catalogue_card">
                        Rien ne correspond à votre recherche !
                    </div>
                {% endif %}
{% endblock %}