{% extends 'base.html.twig' %}

{% block title %}Modification mot de Passe{% endblock %}

{% block body %}
    <div class="catalogue_container">
    <div class="detail_card">
        <h1>{{ app.user.nom }} {{ app.user.prenom }}</h1>
        {% for message in app.flashes('error')  %}
            <div class="erreur">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('success')  %}
            <div class="succes">{{ message }}</div>
        {% endfor %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div>
            {{form_label(form.lastPassword) }}
            {{form_widget(form.lastPassword) }}
        </div>
        <div>
            {{form_label(form.newPassword) }}
            {{form_widget(form.newPassword) }}
        </div>
        <div>
            {{form_label(form.verification) }}
            {{form_widget(form.verification) }}
        </div>
        <button type="submit">Valider le nouveau mot de passe</button>
        {{ form_end(form) }}

    </div>
    </div>
{% endblock %}
