{% extends 'base.html.twig' %}
{% block title %}Modification salle{% endblock %}
{% block body %}

    {{ form_start(form) }}
    <div class="admin_form">
        {{ form_errors(form) }}
        {{ form_row(form.numero) }}
        {{ form_row(form.batiment) }}
        {{ form_row(form.etage) }}
        {{ form_row(form.categorie) }}
        {{ form_row(form.centre) }}
        <div>
            <button type="submit">Modifier</button>
            <button><a href="{{ path('app_admin_salles') }}">Annuler</a></button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}