{% extends 'base.html.twig' %}
{% block title %}details{% endblock %}


{% block body %}
    <div class="detail_container">
        <div>
            <div class="detail_card">
                {{ pc.centre }}
            </div>

            <div class="reservation-container">
                <form method="post" action="{{ path('app_pc_details', {'id': pc.id,'action': 'heure'}) }}" class="detail_card">
                    <h3>Par heure :</h3>
                    <div>

                        <label for="libelle">description courte :</label>
                        <select id="libelle" name="libelle">
                            <option>{{ app.user.nom }} {{ app.user.prenom }}, pour formation.</option>
                            <option>{{ app.user.nom }} {{ app.user.prenom }}, pour usage à domicile.</option>
                            <option>{{ app.user.nom }} {{ app.user.prenom }}, pour reunion.</option>
                            <option>{{ app.user.nom }} {{ app.user.prenom }}, pour autre.</option>

                        </select>
                        <label for="h_date">date :</label>
                        <input id="h_date" name="h_date" type="date" value="{{ date('now')|date('Y-m-d') }}" min="{{ date('now')|date('Y-m-d') }}">
                        <br>
                        <label for="h_heureDebut">Heure de début :</label>
                        <select id="h_heureDebut" name="h_heureDebut">
                            {% for hour in 7..19 %}
                                {# Formatage de l'heure avec deux chiffres #}
                                {% set formattedHour = hour|format('%02d') %}
                                {# Affichage de l'option #}
                                <option value="{{ formattedHour }}:00">{{ formattedHour }}:00</option>
                            {% endfor %}
                        </select>
                        <label for="h_heureFin">Heure de fin :</label>
                        <select id="h_heureFin" name="h_heureFin">
                            {% for hour in 7..19 %}
                                {# Formatage de l'heure avec deux chiffres #}
                                {% set formattedHour = hour|format('%02d') %}
                                {# Affichage de l'option #}
                                <option value="{{ formattedHour }}:00">{{ formattedHour }}:00</option>
                            {% endfor %}
                        </select>
                        <br>
                        <input type="submit" value="reserver" class="button">
                    </div>

                </form>
                <form method="post" action="{{ path('app_pc_details', {'id': pc.id,'action': 'jour'}) }}" class="detail_card">
                    <h3>Pour une journée :</h3>

                    <div>
                        <label for="libelle">description courte :</label>
                        <select id="libelle" name="libelle">
                                <option>{{ app.user.nom }} {{ app.user.prenom }}, pour formation.</option>
                                <option>{{ app.user.nom }} {{ app.user.prenom }}, pour usage à domicile.</option>
                                <option>{{ app.user.nom }} {{ app.user.prenom }}, pour reunion.</option>
                                <option>{{ app.user.nom }} {{ app.user.prenom }}, pour autre.</option>

                        </select>

                        <label for="j_date">date :</label>
                        <input id="j_date" name="j_date" type="date" value="{{ date('now')|date('Y-m-d') }}" min="{{ date('now')|date('Y-m-d') }}">
                        <br>
                        <input type="submit" value="reserver" class="button">
                    </div>
                </form>
                <form method="post" action="{{ path('app_pc_details', {'id': pc.id,'action': 'long'}) }}" class="detail_card">
                    <h3>Pour une période plus longue :</h3>
                    <div>

                        <label for="libelle">description courte :</label>
                        <select id="libelle" name="libelle">
                            <option>{{ app.user.nom }} {{ app.user.prenom }}, pour formation.</option>
                            <option>{{ app.user.nom }} {{ app.user.prenom }}, pour usage à domicile.</option>
                            <option>{{ app.user.nom }} {{ app.user.prenom }}, pour reunion.</option>
                            <option>{{ app.user.nom }} {{ app.user.prenom }}, pour autre.</option>
                        </select>
                        <label for="l_dateDebut">date debut :</label>
                        <input id="l_dateDebut" name="l_dateDebut" type="date" value="{{ date('now')|date('Y-m-d') }}" min="{{ date('now')|date('Y-m-d') }}">
                        <br>
                        <label for="l_dateFin">date fin :</label>
                        <input id="l_dateFin" name="l_dateFin" type="date" min="{{ date('now').modify('+1 day')|date('Y-m-d') }}" >
                        <br>
                        <input type="submit" value="reserver" class="button">
                    </div>
                </form>
            </div>

        </div>

        <div class="carte_container">
            <h2>{{ pc.libelle }}</h2>
            {% for message in app.flashes('error')  %}
                <div class="erreur">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('success')  %}
                <div class="succes">{{ message }}</div>
            {% endfor %}
            <div id="pc_{{ pc.id }}" class="catalogue_calendrier"></div>
        </div>
    </div>

{% endblock %}



{% block javascripts %}
    {% block importmap %}{{ parent() }}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js" integrity="sha256-i4vDW9EgtaJmeauDDymtNF2omPZ1fCKpf4w1gBlU1IE=" crossorigin="anonymous"></script>

    <script type="module" src="{{ asset('script/setCalendrier.js') }}"></script>
{% endblock %}