{% extends 'catalogue.html.twig' %}

{% block title %}Salles{% endblock %}

{% block div %}
                {% if salles is not empty %}
                    {% for salle in salles %}

                        <div class="catalogue_card">
                            <div class="catalogue_info">
                                <h2>Salle n {{ salle.numero }}</h2>
                                <p> {{ salle.centre.libelle }}<br></p>
                                <p>  Batiment : {{ salle.batiment }}<br></p>
                                <p> Etage : {{ salle.etage }}<br></p>
                                {% if is_granted('ROLE_SALLES') %}
                                <a href="{{ path('app_salles_details', {'id': salle.id}) }}">
                                    <button>Réserver un créneau</button>
                                    </a>
                                {% endif %}
                            </div>
                            <div id="salle_{{ salle.id }}" class="catalogue_calendrier">
                            </div>
                        </div>

                    {% endfor %}
                {% else %}
                    <div class="catalogue_card">
                        Rien ne correspond à votre recherche !
                    </div>
                {% endif %}
{% endblock %}