<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    {% if app.user %}
    <header>
        <div class="user_nav">
            <a href="{{ path('app_home') }}"><img src="{{ asset('image/vecteezy_3d-illustration-icone-conception-de-metallique-orange-image_25225293.png') }}" alt=""></a>
            <nav>
                <a href="{{ path('app_home') }}">Accueil</a>
                <a href="{{ path('app_vehicule_catalogue') }}">Véhicules</a>
                <a href="{{ path('app_pc_catalogue') }}">Ordinateurs</a>
                <a href="{{ path('app_flottes_catalogue') }}">Flottes de PC</a>
                <a href="{{ path('app_kit_catalogue') }}">Kits</a>
                <a href="{{ path('app_salles_reunion') }}">Salles de réunion</a>
                <a href="{{ path('app_salles_cours') }}">Salle de cours</a>

                {% if is_granted("ROLE_ADMIN") %}
                <a>Administration</a>
                {% endif %}

                <a href="{{ path('app_logout') }}">Se deconnecter</a>
            </nav>
        </div>
        {% if is_granted("ROLE_ADMIN")%}
        <nav class="admin_nav">
            <a href="{{ path('app_register') }}">Inscription</a>
            <a href="{{ path('app_admin_vehicules') }}">Gestion Vehicules</a>
            <a href="{{ path('app_admin_materiel', {'categorie': 'ordinateur'}) }}">Gestion PC</a>
            <a href="{{ path('app_admin_materiel', {'categorie': 'Flotte de PC'}) }}">Gestion Flottes</a>
            <a href="{{ path('app_admin_materiel', {'categorie': 'Kit de Simulation'}) }}">Gestion Kits</a>
            <a href="{{ path('app_admin_salles') }}">Gestion Salles</a>
        </nav>
        {% endif %}

    </header>
    {% endif %}
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        footer
    </footer>
    </body>
</html>
