<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {% endblock %}
    </head>
    <body>

    {% if app.user %}
    <header>
        <div class="grande_nav">
            <a href="{{ path('app_home') }}">
                <div class="nav_logo">
                <img src="{{ asset('image/logo.png') }}" alt="">
                <p>Croix-Rouge <br> Française</p>
            </div>
            </a>
            <nav class="nav">
                    <ul>
                        <li><a href="{{ path('app_home') }}">Accueil</a></li>
                        <li><a href="{{ path('app_vehicule_catalogue') }}">Véhicules</a></li>

                        <li>
                            <a>équipements</a>
                            <ul>
                                <li><a href="{{ path('app_pc_catalogue') }}">Ordinateurs</a></li>
                                <li><a href="{{ path('app_flottes_catalogue') }}">Flottes de PC</a></li>
                                <li><a href="{{ path('app_kit_catalogue') }}">Kits</a></li>
                            </ul>
                        </li>

                        <li>
                            <a>Salles</a>
                            <ul>
                                <li><a href="{{ path('app_salles_cours_catalogue') }}">Salles de cours</a></li>
                                <li><a href="{{ path('app_salles_reunion_catalogue') }}">Salles de réunion</a></li>
                            </ul>
                        </li>
                        {% if is_granted("ROLE_ADMIN") %}
                        <li>
                            <a>Administration</a>
                            <ul>
                                <li><a href="{{ path('app_register') }}">Inscription</a></li>
                                <li><a href="{{ path('app_admin_vehicules') }}">Gestion Véhicules</a></li>
                                <li><a href="{{ path('app_admin_materiel', {'categorie': 'ordinateur'}) }}">Gestion PC</a></li>
                                <li><a href="{{ path('app_admin_materiel', {'categorie': 'Flotte de PC'}) }}">Gestion Flottes</a></li>
                                <li><a href="{{ path('app_admin_materiel', {'categorie': 'Kit de Simulation'}) }}">Gestion Kits</a></li>
                                <li><a href="{{ path('app_admin_salles') }}">Gestion Salles</a></li>
                                <li><a href="{{ path('app_admin_profil') }}">Gestion Utilisateurs</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                        <li><a href="{{ path('app_profil') }}">Mon profil</a></li>
                    </ul>
            </nav>
        </div>

        <div class="petite_nav">
            <div class="phone_banner">

            </div>

                <nav role="navigation">
                    <div id="menuToggle">
                        <input type="checkbox" />
                        <span></span>
                        <span></span>
                        <span></span>
                        <ul id="menu">
                            <li><a href="{{ path('app_home') }}">Accueil</a></li>
                            <li><a href="{{ path('app_vehicule_catalogue') }}">Véhicules</a></li>

                            <li>
                                <a>> équipements</a>
                                <ul>
                                    <li><a href="{{ path('app_pc_catalogue') }}">Ordinateurs</a></li>
                                    <li><a href="{{ path('app_flottes_catalogue') }}">Flottes de PC</a></li>
                                    <li><a href="{{ path('app_kit_catalogue') }}">Kits</a></li>
                                </ul>
                            </li>

                            <li>
                                <a>> Salles</a>
                                <ul>
                                    <li><a href="{{ path('app_salles_cours_catalogue') }}">Salles de cours</a></li>
                                    <li><a href="{{ path('app_salles_reunion_catalogue') }}">Salles de réunion</a></li>
                                </ul>
                            </li>
                            {% if is_granted("ROLE_ADMIN") %}
                                <li>
                                    <a>> Administration</a>
                                    <ul>
                                        <li><a href="{{ path('app_register') }}">Inscription</a></li>
                                        <li><a href="{{ path('app_admin_vehicules') }}">Gestion Vehicules</a></li>
                                        <li><a href="{{ path('app_admin_materiel', {'categorie': 'ordinateur'}) }}">Gestion PC</a></li>
                                        <li><a href="{{ path('app_admin_materiel', {'categorie': 'Flotte de PC'}) }}">Gestion Flottes</a></li>
                                        <li><a href="{{ path('app_admin_materiel', {'categorie': 'Kit de Simulation'}) }}">Gestion Kits</a></li>
                                        <li><a href="{{ path('app_admin_salles') }}">Gestion Salles</a></li>
                                        <li><a href="{{ path('app_admin_profil') }}">Gestion Utilisateurs</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                            <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                        </ul>
                    </div>
                </nav>
        </div>

    </header>
    {% endif %}


    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <section>
            <a>Comment faire un emprunt</a>
        </section>
        <section>
            <a>Ordinateurs</a>
            <a>Flottes de pc</a>
            <a>Kits de Simulation</a>
            <a>Véhicules</a>
            <a>Salles de cours</a>
            <a>Salles de réunion</a>
        </section>
    </footer>
    </body>
</html>
